.mid-container{
    display: flex;
    width: 100vw;
    height: calc(100vh - 50px);
    /* border: 2px solid red; */
}

@media (max-width : 900px) {
    .mid-container{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}